/* ----------- Comment Outline ----------- */

/* ----------- Header ----------- */
.header {
    width: 100%;
    height: 100vh;
    background-image: url("https://cdn.discordapp.com/attachments/1020872913022365756/1060427253357490237/Illustration3_1.png");
    background-repeat: no-repeat;
    background-color: #040c2a;
}
#header_text {
    margin-top: 5%;
    font-size: 20px;
}

#header_text h1 {
    font-size: 60px;
    margin-top: 20px;
}

#header_text h1 span {
    color: darkblue;
}

/* ----------- About ----------- */
.about {
    padding: 80px 0;
    color : #ababab;
}

#row {
    display: flex;
    justify-content: space-between;
}

.about-col-1 {
    flex-basis: 45%;
}
.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis : 60%;
}

.sub-title {
    color: white;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content : '';
    width : 0;
    height : 3px;
    background : #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width : 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color : #183291;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ----------- Portfolio  ----------- */
#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap : 40px;
    margin-top: 40px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.layer {
    width : 100%;
    height : 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer a {
    color : white;
    text-decoration: none;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer{
    height : 100%;
}

/* Css for small screens */
@media only screen and (max-width : 600px){
        
}