html {
    color-scheme: dark;
    background-color: black;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

* {
    font-size: 15px;
    background-color: black;
}

input {
    background-color: black;
    border: 0;
}