html,body{min-height:100%}

body {
    overflow: hidden;
    min-height : 100%;
    padding: 0;
}

:focus { outline: none; }

::-webkit-scrollbar {
    width: 10px;
    border-radius : 20%px;
}
  
::-webkit-scrollbar-track {
  background: #000000; 
}
   
::-webkit-scrollbar-thumb {
  background: #000268; 
}

::-webkit-scrollbar-thumb:hover {
  background: #00082e; 
}